<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr>
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">

        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome completo</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="nome" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)}">
                    <span class="text-danger" *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)">
                        <p id="alertaNome">Preencha o campo nome</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="cpf" placeholder="CPF (requerido)" formControlName="cpf"> <!--Era para usar cpf [textMask]="{mask: MASKS.cpf.textMask}", porém não deu certo importar esse módulo.-->
                    <span class="text-danger" *ngIf="cadastroForm.get('cpf')?.errors?.required && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)">
                        <p>CPF inválido</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="email" placeholder="E-mail (requerido)" formControlName="email" [ngClass]="{'is-invalid': cadastroForm.get('email').errors && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)}">
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
                        <p>Preencha o campo email</p>
                    </span>
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.email && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
                        <p>E-mail em formato inválido</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="password" id="senha" placeholder="Senha (requerido)" formControlName="senha">
                    <span class="text-danger" *ngIf="cadastroForm.get('senha')?.errors?.rangeLength && (cadastroForm.get('senha').dirty || cadastroForm.get('senha').touched)">
                        <p>Tamanho inválido</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Confirme a senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="password" id="senhaConfirmacao" placeholder="Confirme a senha (requerido)" formControlName="senhaConfirmacao">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span> <!--Poderia informar uma propriedade [disabled]="!cadastroForm.valid", para o botão ficar habilitado apenas quando o formulário for válido.-->
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Formulário válido: {{cadastroForm.valid}}</p>
                    <p>Formulário tocado: {{cadastroForm.touched}}</p>
                    <p>Formulário sujo: {{cadastroForm.dirty}}</p><br>
                    <p id="resultado">Formulário: {{formResult}}</p>
                </div>
            </div>

        </div>
    </form>
</div>
